{% extends 'base.html' %}
{% block title %}Submit a New Report {{ block.super }}{% endblock %}
{% block main_content %}
<div id="content_wrapper" class="clearfix">
    <div class="grid_8 alpha">
        <h1>Submit your Report</h1>
        <form class="grid_8 generic_form rounded_12" method="post" enctype="multipart/form-data" action=".">
            <fieldset class="generic">
                <legend class="step">1. Drag the marker to the location of the tree</legend>
                <div class="field grid_7 w_578 clearfix">
                    <div class="content_map_canvas"></div>
                </div>
                <div class="field grid_7 w_578">
                    {{ form.street_address.label_tag }}{{ form.street_address }}{{ form.street_address.errors }}
                </div>
            </fieldset>
            <fieldset id="record_form_details" class="generic{% if not form.errors %} initial_hide{% endif %}">
                <legend class="step">2. Add details and a photo...</legend>
                <div class="field grid_4">
                    {{ form.username.label_tag }}{{ form.username }}
                    <span class="help_text">{{ form.username.help_text }}</span>
                    {{ form.username.errors }}
                </div>
                <div class="field grid_7 w_578">
                    {{ form.notes.label_tag }}{{ form.notes }}{{ form.notes.errors }}
                </div>
                <div class="field grid_4">
                    {{ form.status.label_tag }}{{ form.status }}{{ form.status.errors }}
                </div>
                <div class="field grid_4">
                    {{ form.photo.label_tag }}{{ form.photo }}
                    <span class="help_text">{{ form.photo.help_text }}</span>
                    {{ form.photo.errors }}
                </div>
                <div class="field grid_7">
                    <p class="strong">By submitting your report you're agreeing to the project's <a href="{% url public_terms %}" target="_blank">Terms of Use</a>. Please make sure your read them&nbsp;first.</p>
                </div>
                <div class="field grid_4">
                    {{ form.extent }}
                    {{ form.location_lat }}
                    {{ form.location_lng }}
                    <a class="back_nav cancel mock_button" href="javascript:void(0);">Cancel</a>
                    <input class="submit" type="submit" value="Submit Report">
                    {% csrf_token %}
                </div>
            </fieldset>
        </form>
    </div>
    <div class="grid_4 omega">
        {% include 'public/parts/get_app.html' %}
        <h5>Did You Know?</h5>
        <p class="fact">Elms provide plenty of shade on the ground and their leaves cool the air by drawing in carbon dioxide and releasing oxygen and water vapour.</p>
        <p class="fact">One mature elm can cool the air as much as five air conditioners!</p>
    </div>
</div>
{% endblock main_content %}
{% block end_body_scripts %}
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
    $(document).ready(function() {
        {% if not form.errors %}$('#record_form_details').hide();{% else %}$('#id_street_address').removeAttr('disabled');{% endif %}
        {% if not form.location_lat.value and not form.location_lng.value %}
        var default_location = new google.maps.LatLng(54.170976, -4.512463);
        {% else %}
        var default_location = new google.maps.LatLng({{ form.location_lat.value }}, {{ form.location_lng.value }});
        {% endif %}
        var info_window = new google.maps.InfoWindow();
        var map_options = {
            zoom: 13,
            center: default_location,
            mapTypeId: google.maps.MapTypeId.HYBRID
        }
        var map = new google.maps.Map($('div.content_map_canvas')[0], map_options);
        var marker = new google.maps.Marker({
            map: map,
            draggable: true,
            animation: google.maps.Animation.DROP,
            position: default_location
        });
        google.maps.event.addListener(marker, 'dragend', function(location) {
            var ll = location.latLng;
            $('#id_location_lat').val(ll.lat());
            $('#id_location_lng').val(ll.lng());
            marker.setPosition(ll);
            new google.maps.Geocoder().geocode({'latLng': ll}, function(results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    if(results[0]) {
                        location_address = results
                        info_window.setContent(location_address[0].formatted_address);
                        $('#id_street_address').val(location_address[0].formatted_address);
                        google.maps.event.addListener(marker, 'click', function(location) {
                            info_window.open(map, marker);
                        });
                    }
                }
                if(!$('#record_form_details').is(":visible")) {
                    $('#id_street_address').removeAttr('disabled');
                    $('#record_form_details').slideDown('fast');
                }
            });
        });
    });
</script>
{% endblock %}
