{% extends 'base.html' %}
{% block title %}Terms of Use {{ block.super }}{% endblock %}
{% block main_content %}
<div id="content_wrapper" class="clearfix">
    <div class="grid_12 alpha">
        <h1>Terms of Use</h1>
        <p>The Open Elm Project is an Open Data project between <a rel="external" href="http://www.redrobotstudios.com/">Red Robot Studios</a> and the Isle of Man <a rel="external" href="http://www.gov.im/daff/">Department of Environment, Food and Agriculture</a>.</p>
        <p>The aim of the project is to enable the public to record the location and health of Island's elm population and help the identification of possible outbreaks of Dutch Elm disease. All the data is publicly and freely available, the source code has been open sourced and the system is fully transparent: It is the first project of its type on the Isle of Man, and we hope it will inspire changes in the way public data is shared by the Government and other public bodies. We're very pleased you want to join in and contribute!</p>
        <p>As already mentioned, all of the data that is submitted to the project is publicly available on and via the project's <a rel="external" href="{% url public_developers %}">open API</a>. As such you need to be aware that all reports you submit using this app will be accessible to anyone.</p>
        <ul class="no_ml leaf_markers marker_top_title">
            <li><p>Please understand that all data contributed to the <a href="{% url public_index %}">Open Elm Project</a> is public and can be accessed by anyone at any time. If you don’t want to share your reports or data with the public, then this project isn't for you.</p></li>
            <li><p>Please don't take pictures of people or upload anything you don’t want to be made public.</p></li>
            <li><p>Please don't venture on to private land to make reports, and please don't endanger yourself or risk your or other's safety in any way.</p></li>
            <li><p>This project is heavily dependant on having accurate location information and as such, all data includes the location of the record; either automatically determined using GPS/triangulation or user-selected by the Google Map. Contributing a report without specifying the location will be of no use to us as we may need to visit the location to determine the health of the tree.</p><p>When using the site, try to be as specific as to which tree you're reporting when choosing the location on the map. When using the mobile apps, please make sure you grant access to location services on your phone so the app can use your GPS location while you're out recording. You can refine the location of your report by simply dragging the marker if your device can't get a location fix or if it's inaccurate.</p></li>
            <li><p>Finally, be honest and report only what you see. You have the chance to make a difference to how Dutch Elm Disease will affect the Isle of Man in the future, and hopefully with valuable reports like yours we can keep the Island's trees healthy for years to come.</p></li>
        </ul>
        <p>Thanks for reading, and we look forward to your help in this collaborative effort.</p>
    </div>
</div>
{% endblock main_content %}
