{% extends 'base.html' %}{% load record_tags %}
{% block title %}Management {{ block.super }}{% endblock %}
{% block main_content %}
<div id="content_wrapper" class="clearfix">
    <div class="grid_12 alpha">
        <ul class="tabs">
            <li><a href="{% url management_index %}">Unreviewed Reports</a></li>
            <li><strong>All Reports</strong></li>
        </ul>
        <table cellspacing="0" class="detail_table">
            <thead>
                <tr>
                    <th class="w_5">&nbsp;</th>
                    <th>Address</th>
                    <th>Status</th>
                    <th>Submitted on</th>
                    <th>Reviewed on</th>
                </tr>
            </thead>
            <tbody>
                {% for record in records %}
                <tr>
                    <td{% if not record.value.review_date %} class="new"{% endif %}>&nbsp;</td>
                    <td><a href="{% url management_record_detail record_id=record.id %}">{{ record.value.street_address }}</a></td>
                    <td>{{ record.value.status|strip_punctuation|title }}</td>
                    <td>{{ record.value.creation_date }}</td>
                    <td>{{ record.value.review_date }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4"><h5 class="empty">No Records</h5></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if querystring %}<a class="back_nav grid_2" href="javascript:void(0);">&laquo; Previous</a>&nbsp;{% endif %}
        {% if next %}<a class="grid_1 fr" href="{% url management_reports %}?n={{ next }}">Next &raquo;</a>{% endif %}
        <a></a>
    </div>
</div>
{% endblock main_content %}
