{% extends 'base.html' %}
{% block title %}Page Not Found : Open Elm Project{% endblock %}
{% block extra_head %}
<meta name="robots" content="noindex, nofollow">
{% endblock %}
{% block main_content %}
<div id="content_wrapper" class="clearfix">
    <div class="grid_8 alpha omega">
        <h1 class="elh">Whoops, it looks like the page you requested doesn't&nbsp;exist</h1>
        <p>You can use your browser's back button or <a href="/">go back to the main&nbsp;page</a>.</p>
    </div>
</div>
<!-- this is filler to make the content length greater than 512 bytes so IE will show it instead of its own "friendly error message" -->
<!-- this is filler to make the content length greater than 512 bytes so IE will show it instead of its own "friendly error message" -->
<!-- this is filler to make the content length greater than 512 bytes so IE will show it instead of its own "friendly error message" -->
<!-- this is filler to make the content length greater than 512 bytes so IE will show it instead of its own "friendly error message" -->
{% endblock main_content %}
